<div class="container">
  <div class="row">
    <div class="col-sm">
       </div>
          <div class="ol-lg-10 col-md-10 col-sx-2 col-sm-2 mx-auto">
            
            <a class="float-left btn btn-outline-success" href=<%=new_user_form_url(current_user.id)%>>Запись в лагерь</a>
                

                <a class="float-right btn btn-outline-success" <%= link_to 'Выгрузить в Excel', url_for(:format=>"xlsx") %><br/><br/><hr/>



            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Участник</th>
                  <th scope="col">Анекта согласована</th>
                  <th scope="col">Оплата</th>
                  <th scope="col">Открыть анкету</th>

                </tr>
              </thead>
              <tbody>


                 <%@forms.each_with_index do |form,i|%>
                <tr>
                 
                  <th scope="row"><%=i+1%></th>


                  <td><%=form.name_child%></td>


              <td><%if form.validation==1%>
                

                <div class="alert alert-success" role="alert">
                    Анкета одобрена
                  </div>

                  <%else%>

                  <div class="alert alert-danger" role="alert">
                    Анкета еще не прошла проверку


                    <%if form.notes != nil %>
                    , есть комментарии.
                    <%end%>


                  </div>


                <%end%>



              </td>



               <td><%if form.payment==1%>
                

                <div class="alert alert-success" role="alert">
                    Платеж подтвержден
                  </div>

                  <%else%>

                  <div class="alert alert-danger" role="alert">
                    Платеж еще не подтвержден
                  </div>


                <%end%>

              </td>

              <td>
                


              <a class="nav-link" href=<%=user_form_url(form.user_id,form.id)%>><button type="button" class="btn btn-outline-primary">Открыть</button></a>
              


              </td>

                </tr>
              <%end%>
             
              </tbody>
            </table>



           
          </div>
    <div class="col-sm">
       </div>
  </div>
</div>