<div class="alert alert-secondary mx-auto"  role="alert">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-12 col-sm-10 col-sx-10 mx-auto">
      

        <%if @form.validation == 1%>



            <div class="alert alert-success" role="alert">
                 Анкета прошла регистрацию
                 <%if @form.payment == 1%>
                  и оплачена!
                 <%end%>

              </div>


      <% else%>
            <div class="alert alert-danger" role="alert">
                 Анкета еще не прошла регистрацию

                 <%if @form.notes !=nil%>
                 , смотрите комментарии ниже
                 <%end%>
              </div>

      <%end%>




            
            <p4 class="float-left">
              1.Имя участника</p4>
            <p4 class="float-right">
              <%=@form.name_child%></p4><br/><hr/>

          <img class="float-right img-responsive" style="width: 300px" src=<%=@form.photo_child%>><br/><br/><br/><br/><br/><br/><br/><br/><hr/>


            <p4 class="float-left">
              2. Дата рождения</p4>
            <p4 class="float-right">
              <%=@form.date_of_birth.strftime("%d.%m.%Y")%></p4><br/><hr/>
              
 
            <p4 class="float-left">
              3.Имена и отчества родителей(опекунов)</p4>
            <p4 class="float-right">
              <%=@form.name_parent%></p4><br/><hr/>

            <p4 class="float-left">
              4.Телефоны родителей(опекунов)</p4>
            <p4 class="float-right">
              <%=@form.phones_parent%></p4><br/><hr/>

              <p4 class="float-left">
              5.Телефон подростка</p4>
            <p4 class="float-right">
              <%=@form.phone_child%></p4><br/><hr/>
             
             <p4 class="float-left">
              6.Контактная почта</p4>
            <p4 class="float-right">
              <%=@form.email%></p4><br/><hr/>


            <p4 class="float-left">
              7.Домашний адрес</p4>
            <p4 class="float-right">
              <%=@form.adress%></p4><br/><hr/>

            <p4 class="float-left">
              8.Пищевые ограничения, аллергические реакции, заболевания</p4>
            <p4 class="float-right">
              <%=@form.food_allergy%></p4><br/><hr/>

            <p4 class="float-left">
              9.Является ли подросток вегетарианцем?</p4>
            <p4 class="float-right">
              <%=$vegan[@form.vegan.to_i]%></p4><br/><hr/>

            <p4 class="float-left">
              10.Наблюдался ли ваш ребенок у невролога, психиатра?</p4>
            <p4 class="float-right">
              <%=@form.psycho%></p4><br/><hr/>

            <p4 class="float-left">
              11.Важные события</p4>
            <p4 class="float-right">
              <%=@form.events%></p4><br/><hr/>

            <p4 class="float-left">
              12.Дополнительные сведения</t2></p4>
            <p4 class="float-right">
              <%=@form.also%></p4><br/><hr/>

            <p4 class="float-left">
              13.Дополнительные телефоны и контактные лица</t2></p4>
            <p4 class="float-right">
              <%=@form.bonus_contacts%></p4><br/><hr/>
 
             <p4 class="float-left">
              14.Друзья, которые едут в лагерь</t2></p4>
            <p4 class="float-right">
              <%=@form.friends%></p4><br/><hr/>    

          <p4 class="float-left">
            15.скан паспорта</t2></p4>
          <img class="float-right img-responsive" style="width: 100px" src=<%=@form.photo_passport%>><br/><br/><br/><br/><br/><br/><br/><br/><hr/>

          <p4 class="float-left">
            15.скан полиса</t2></p4>
          <img class="float-right img-responsive" style="width: 100px" src=<%=@form.photo_medical%>><br/><br/><br/><br/><br/><br/><br/><br/><hr/>
 <% if @form.validation !=1%>

          <p4 class="float-left">
            Комментарии</t2></p4>
          <h2 class="float-right">
              <%=@form.notes%></h2><br/><hr/>    



          <%= link_to "Редактировать анкету", edit_form_path(@form)  %> 
        <%end%>

        <%if current_user.level >1 %>



       <%= form_for :form, url: form_path(@form), method: :put do |f| %> 

         
          <h3>Комментарии к анкете</h3><br/>
          <p4> <%= f.text_area :notes, size: "80x5", value: @form.notes %> </p4><br/>
          <p4> <%= f.hidden_field :validation, value: 0 %> </p4><br/>

         
          

          <button class="btn btn-outline-danger float-left" type="submit">Отклонить анкету с комментариями</button>

        <%end%>


        <%= form_for :form, url: form_path(@form), method: :put do |f| %> 
          <p4> <%= f.hidden_field :validation, value: 1 %> </p4>
          <button class="btn btn-outline-success float-right" type="submit">Зарегистрировать анкету</button>

        <%end%><br/><hr/>

         <%= form_for :form, url: form_path(@form), method: :put do |f| %> 
          <p4> <%= f.hidden_field :payment, value: 1 %> </p4>
          <button class="btn btn-outline-success float-right" type="submit">Подтвердить опллату</button>

        <%end%>


        <%end%>


          </div>
        </div>
      </div>
</div>   
