

        <%if @form.validation == 1%>



            <div class="alert alert-success" role="alert">
                 Анкета прошла регистрацию
                 <%if @form.payment + @form.payment2 + @form.payment3 == 3%>
                  и оплачена!
                 <%end%>

              </div>


      <% else%>
            <div class="alert alert-danger" role="alert">
                 Анкета еще не прошла регистрацию

                 <%if @form.notes !=nil%>
                 , смотрите комментарии ниже
                 <%end%>
              </div>

      <%end%>

            <hr/><p4 class="float-left">
              1.Имя участника</p4><br/>
            <p4 class="float-right">
              <%=@form.name_child%></p4><br/><br/><br/>

          <img class="float-right img-responsive" style="width: 300px" src=<%=@form.photo_child%>><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


            <hr/><p4 class="float-left">
              2. Дата рождения:</p4><br/>
            <p4 class="float-right">
              <%=@form.date_of_birth.strftime("%d.%m.%Y")%></p4><br/><br/><br/>
              
 
            <hr/><p4 class="float-left">
              3.Имена и отчества родителей(опекунов):</p4><br/>
            <p4 class="float-right">
              <%=@form.name_parent%></p4><br/><br/><br/>

            <hr/><p4 class="float-left">
              4.Телефоны родителей(опекунов):</p4><br/>
            <p4 class="float-right">
              <%=@form.phones_parent%></p4><br/><br/><br/>

             <hr/><p4 class="float-left">
              5.Телефон подростка:</p4><br/>
            <p4 class="float-right">
              <%=@form.phone_child%></p4><br/><br/><br/>
             
             <hr/><p4 class="float-left">
              6.Контактная почта:</p4><br/>
            <p4 class="float-right">
              <%=@form.email%></p4><br/><br/><br/>


            <hr/><p4 class="float-left">
              7.Домашний адрес:</p4><br/>
            <p4 class="float-right">
              <%=@form.adress%></p4><br/><br/><br/>

           <hr/><p4 class="float-left">
              8.Пищевые ограничения, аллергические реакции, заболевания:</p4>
            <p4 class="float-right">
              <%=@form.food_allergy%></p4><br/><br/><br/>

            <hr/><p4 class="float-left">
              9.Является ли подросток вегетарианцем:</p4><br/>
            <p4 class="float-right">
              <%=$vegan[@form.vegan.to_i]%></p4><br/><br/><br/>

            <hr/><p4 class="float-left">
              10.Наблюдался ли ребенок у невролога, психиатра:</p4><br/>
            <p4 class="float-right">
              <%=@form.psycho%></p4><br/><br/><br/>

            <hr/><p4 class="float-left">
              11.Важные события:</p4><br/>
            <p4 class="float-right">
              <%=@form.events%></p4><br/><br/><br/>

            <hr/><p4 class="float-left">
              12.Дополнительные сведения:</t2></p4><br/>
            <p4 class="float-right">
              <%=@form.also%></p4><br/><br/><br/>

            <hr/><p4 class="float-left">
              13.Дополнительные телефоны и контактные лица:</t2></p4><br/>
            <p4 class="float-right">
              <%=@form.bonus_contacts%></p4><br/><br/><br/>
 
             <hr/><p4 class="float-left">
              14.Друзья, которые едут на выезд:</t2></p4><br/>
            <p4 class="float-right">
              <%=@form.friends%></p4><br/><br/><br/>    




          <hr/><p4 class="float-left">
            15.скан паспорта:</t2></p4><br/>
          <img class="float-right img-responsive" style="width: 100px" src=<%=@form.photo_passport%>><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

          <hr/><p4 class="float-left">
            16.скан полиса:</t2></p4><br/>
          <img class="float-right img-responsive" style="width: 100px" src=<%=@form.photo_medical%>><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


          <hr/><p4 class="float-left">
              17.Пол:</t2></p4><br/>
            <p4 class="float-right">
              <%=@form.sex%></p4><br/><br/><br/>  

           <hr/><p4 class="float-left">
              18.Серия и номер пасспорта:</t2></p4><br/>
            <p4 class="float-right">
              <%=@form.passport%></p4><br/><br/><br/>  

    <% if @form.archive == "false" %>  

       <% if @form.validation !=1%>

                <p4 class="float-left">
                  Комментарии</t2></p4>
                <h2 class="float-right">
                    <%=@form.notes%></h2><br/><br/><br/>    



                <%= link_to "Редактировать анкету", edit_user_form_path(@form.user_id)  %> 
              <%end%>

              <%if current_user.level >1 %>



             <%= form_for :form, url: user_form_path(@form.user_id), method: :put do |f| %> 

               
                <h3>Комментарии к анкете</h3><br/>
                <p4> <%= f.text_area :notes, size: "80x5", value: @form.notes %> </p4><br/>
                <p4> <%= f.hidden_field :validation, value: 0 %> </p4><br/>
                  <%= f.hidden_field  :refresh,  value: 0  %> 
               
               
                  
                
             

                <button class="btn btn-danger  float-left" type="submit"><h3>Отклонить анкету с комментариями</h3></button>

              <%end%>
              <br/><br/>

            <%= form_for :form, url: user_form_path(@form.user_id), method: :put do |f| %> 
              
                  <%= f.hidden_field :validation, value: 0 %> 
                  <%= f.hidden_field :payment, value: 0 %>
                  <%= f.hidden_field :refresh,  value: 0  %> 
                  <%= f.hidden_field :archive,  value: "t"  %>


                
                 <button class="btn btn-danger  float-left" type="submit"><h3>Отправить в архив</h3></button>

              <%end%><br/><br/><br/>




              <%= form_for :form, url: user_form_path(@form.user_id), method: :put do |f| %> 
              
                <p4> <%= f.hidden_field :validation, value: 1 %> </p4>
                  <%= f.hidden_field  :refresh,  value: 0  %> 
                  <%= f.hidden_field  :notes,  value: nil  %>
                
                <button class="button button-primary cta float-right" type="submit">Зарегистрировать анкету</button><br/>

              <%end%><br/><br/><br/>

               <%= form_for :form, url: user_form_path(@form.user_id), method: :put do |f| %> 
                <p4> <%= f.hidden_field :payment, value: 1 %> </p4>
                  <%= f.hidden_field  :refresh,  value: 0  %> 


                <button class="button button-primary cta float-right" type="submit">Оплата Храм</button><br/>

              <%end%>
                             <%= form_for :form, url: user_form_path(@form.user_id), method: :put do |f| %> 
                <p4> <%= f.hidden_field :payment2, value: 1 %> </p4>
                  <%= f.hidden_field  :refresh,  value: 0  %> 


                <button class="button button-primary cta float-right" type="submit">Оплата База</button><br/>

              <%end%>
                             <%= form_for :form, url: user_form_path(@form.user_id), method: :put do |f| %> 
                <p4> <%= f.hidden_field :payment3, value: 1 %> </p4>
                  <%= f.hidden_field  :refresh,  value: 0  %> 


                <button class="button button-primary  btn-sm cta float-right" type="submit">Взнос</button><br/>

              <%end%>


              <%end%>
    <%end%>


